<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="RadioPollResult.Eventing.Event, RadioPollResult"/>
      </initialize>
    </pipelines>
    <events>
      <event name="custom:flushpartialcache">
        <handler type="RadioPollResult.Eventing.PartialHtmlCacheClearSingleItem, RadioPollResult" method="OnItemEvent" resolve="true" />
      </event>
      <event name="custom:flushpartialcache:remote">
        <handler type="RadioPollResult.Eventing.PartialHtmlCacheClearSingleItem, RadioPollResult" method="OnItemEvent" resolve="true" />
      </event>
    </events>
  </sitecore>
</configuration>