<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="Polly" version="6.0.1" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Sitecore.Async.Extensions.Legacy" version="10.1.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="5.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.1.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.1.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.1.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Diagnostics" version="10.1.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Search" version="10.1.1" targetFramework="net48" />
  <package id="System.Interactive.Async" version="4.0.0" targetFramework="net48" />
  <package id="System.Interactive.Async.Providers" version="4.0.0" targetFramework="net48" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net48" />
  <package id="System.Linq.Async.Queryable" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>